# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
android/app/.cxx/Debug/v383q184/hash_key.txt
pubspec.lock
android/app/.cxx/Debug/v383q184/arm64-v8a/additional_project_files.txt
android/app/.cxx/Debug/v383q184/arm64-v8a/android_gradle_build.json
android/app/.cxx/Debug/v383q184/arm64-v8a/android_gradle_build_mini.json
android/app/.cxx/Debug/v383q184/arm64-v8a/build_file_index.txt
android/app/.cxx/Debug/v383q184/arm64-v8a/build.ninja
android/app/.cxx/Debug/v383q184/arm64-v8a/cmake_install.cmake
android/app/.cxx/Debug/v383q184/arm64-v8a/CMakeCache.txt
android/app/.cxx/Debug/v383q184/arm64-v8a/configure_fingerprint.bin
android/app/.cxx/Debug/v383q184/arm64-v8a/metadata_generation_command.txt
android/app/.cxx/Debug/v383q184/arm64-v8a/prefab_config.json
android/app/.cxx/Debug/v383q184/arm64-v8a/symbol_folder_index.txt
android/app/.cxx/Debug/v383q184/arm64-v8a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/v383q184/arm64-v8a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/v383q184/arm64-v8a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/v383q184/arm64-v8a/.cmake/api/v1/reply/cache-v2-6e5000cc4e7000956c70.json
android/app/.cxx/Debug/v383q184/arm64-v8a/.cmake/api/v1/reply/cmakeFiles-v1-fb7fc045bcf2a3edd549.json
android/app/.cxx/Debug/v383q184/arm64-v8a/.cmake/api/v1/reply/codemodel-v2-8b889d8e918db21b4b70.json
android/app/.cxx/Debug/v383q184/arm64-v8a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/v383q184/arm64-v8a/.cmake/api/v1/reply/index-2025-03-03T17-32-53-0885.json
android/app/.cxx/Debug/v383q184/arm64-v8a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/v383q184/arm64-v8a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/v383q184/arm64-v8a/CMakeFiles/TargetDirectories.txt
android/app/.cxx/Debug/v383q184/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
android/app/.cxx/Debug/v383q184/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx/Debug/v383q184/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_C.bin
android/app/.cxx/Debug/v383q184/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeDetermineCompilerABI_CXX.bin
android/app/.cxx/Debug/v383q184/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeSystem.cmake
android/app/.cxx/Debug/v383q184/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.c
android/app/.cxx/Debug/v383q184/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdC/CMakeCCompilerId.o
android/app/.cxx/Debug/v383q184/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.cpp
android/app/.cxx/Debug/v383q184/arm64-v8a/CMakeFiles/3.22.1-g37088a8-dirty/CompilerIdCXX/CMakeCXXCompilerId.o
android/app/.cxx/Debug/v383q184/armeabi-v7a/additional_project_files.txt
android/app/.cxx/Debug/v383q184/armeabi-v7a/android_gradle_build_mini.json
android/app/.cxx/Debug/v383q184/armeabi-v7a/android_gradle_build.json
.gitignore
android/app/.cxx/Debug/v383q184/armeabi-v7a/build_file_index.txt
android/app/.cxx/Debug/v383q184/armeabi-v7a/build.ninja
android/app/.cxx/Debug/v383q184/armeabi-v7a/cmake_install.cmake
android/app/.cxx/Debug/v383q184/armeabi-v7a/CMakeCache.txt
android/app/.cxx/Debug/v383q184/armeabi-v7a/configure_fingerprint.bin
android/app/.cxx/Debug/v383q184/armeabi-v7a/metadata_generation_command.txt
android/app/.cxx/Debug/v383q184/armeabi-v7a/prefab_config.json
android/app/.cxx/Debug/v383q184/armeabi-v7a/symbol_folder_index.txt
android/app/.cxx/Debug/v383q184/armeabi-v7a/.cmake/api/v1/query/client-agp/cache-v2
android/app/.cxx/Debug/v383q184/armeabi-v7a/.cmake/api/v1/query/client-agp/cmakeFiles-v1
android/app/.cxx/Debug/v383q184/armeabi-v7a/.cmake/api/v1/query/client-agp/codemodel-v2
android/app/.cxx/Debug/v383q184/armeabi-v7a/.cmake/api/v1/reply/cache-v2-2080adc84a50af4b8d1a.json
android/app/.cxx/Debug/v383q184/armeabi-v7a/.cmake/api/v1/reply/cmakeFiles-v1-e4e40b447116e74331ae.json
android/app/.cxx/Debug/v383q184/armeabi-v7a/.cmake/api/v1/reply/codemodel-v2-5e309645904715286955.json
android/app/.cxx/Debug/v383q184/armeabi-v7a/.cmake/api/v1/reply/directory-.-Debug-d0094a50bb2071803777.json
android/app/.cxx/Debug/v383q184/armeabi-v7a/.cmake/api/v1/reply/index-2025-03-03T17-33-11-0314.json
android/app/.cxx/Debug/v383q184/armeabi-v7a/CMakeFiles/cmake.check_cache
android/app/.cxx/Debug/v383q184/armeabi-v7a/CMakeFiles/rules.ninja
android/app/.cxx/Debug/v383q184/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCCompiler.cmake
.gitignore
android/app/.cxx/Debug/v383q184/armeabi-v7a/CMakeFiles/TargetDirectories.txt
pubspec.lock
android/app/.cxx/Debug/v383q184/armeabi-v7a/CMakeFiles/3.22.1-g37088a8-dirty/CMakeCXXCompiler.cmake
android/app/.cxx
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugin_registrant.h
linux/flutter/generated_plugins.cmake
macos/Flutter/GeneratedPluginRegistrant.swift
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugin_registrant.h
windows/flutter/generated_plugins.cmake
